body{
	background-color: black;
	color: white;
	font-size: 200%;
}
h1 {
color: #cc0099;
font-family: comic sans
}
h2 {
color:aqua;
font-family: comic sans;
}

img{
	max-width: 300px;
	max-height: 300px;
}
